body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 30rem;
  display: flex;
  justify-content: right;
  padding-top: 30px;
}

.keys {
  display: flex;
  width: 30rem;
}

.key {
  padding: 20px;
  padding-left: 45px;
  padding-right: 45px;
  width: 25%;
}

.calculate {
  background-color: orange;
  padding: 20px;
  padding-left: 35px;
  padding-right: 35px;
  width: 25%;
}

.zero {
  width: 50%;
}

.data {
  padding-right: 10px;
  font-size: larger;
  font-weight: 700;
  text-align: end;
}

input[type=text] {
  background-color: grey;
}
